<div class="container">
  <div class="mb-3 mt-3">
      <%= simple_form_for @toothbrush do |f| %>
        <%= f.input :category %>
        <%= f.input :price %>
        <%= f.input :photo %>
        <%= f.submit class:"btn" %>
      <% end %>
  </div>
</div>
