<%= link_to toothbrushes_path(category: "Standard") do %>
  Standard <i class="fa-solid fa-star"></i>
<% end %>
<%= link_to toothbrushes_path(category: "Electric") do %>
  Electric <i class="fa-solid fa-bolt"></i>
<% end %>

<%= link_to toothbrushes_path(price: "ASC") do %>
  price ASC
<% end %>
<%= link_to toothbrushes_path(price: "DESC") do %>
  price DESC
<% end %>
<%# <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu">
    <li><%= link_to "Electric", toothbrushes_path(category: "Electric") %>

<div class="container">
  <div class="cards">
    <% @toothbrushes.each do |toothbrush|%>
      <%= link_to toothbrush_path(toothbrush), class: "image-hover" do %>
        <div class="card-trip">
          <%= cl_image_tag toothbrush.photo.key, height: 130, width: 180, crop: :fill %>
          <div class="card-trip-infos">
            <div>
              <h2> <%=toothbrush.title%> </h2>
            </div>
            <h2 class="card-trip-pricing"><%= toothbrush.price %> €</h2>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


<%# <div class="card">
    <p class="text-title">Card title</p>
    <p class="text-body">description</p>
    <div class="price"></div>
  </div>
  <button class="card-button">book</button>
</div> %>
