<% if false %>
<div class="container">
  <div class="card">
    <div class="card-img-top">
      <%= cl_image_tag @toothbrush.photo.key, height: 500, width: 500, crop: :fill, class: "img-fluid rounded-3" %>
    </div>

    <div class="card-body">
      <h5 class="card-title">"Titre de la brosse à dents"</h5>
      <strong>Catégorie :</strong> <%= @toothbrush.category %>
      <p class="card-text">
        Description de la brosse à dents fournie par le propriétaire
      </p>
      <p><strong>Prix :</strong> <%= @toothbrush.price %></p>
      <%= render "shared/formtest", task: @toothbrush %>
      <div class="mb-3">
        <%= link_to 'Retour à l\'accueil', toothbrushes_path, class: "btn btn-primary rounded-4" %>
        <%= link_to 'Réserver', new_toothbrush_booking_url(@toothbrush), class: "btn btn-primary rounded-4" %>
      </div>
    </div>
  </div>
</div>
<% end %>
<div class="container">
  <div class="card">
    <div class="row">
      <div class="col-md-6 card-body ">
        <div class="card-img-top">
            <%= cl_image_tag @toothbrush.photo.key, height: 500, width: 500, crop: :fill, class: "img-fluid rounded-3 " %>
        </div>
        <div class="m-2">
            <h5 class="card-title">"Titre de la brosse à dents"</h5>
            <strong>Catégorie :</strong> <%= @toothbrush.category %>
            <p class="card-text">
            Description de la brosse à dents fournie par le propriétaire
            </p>
            <p><strong>Prix :</strong> <%= @toothbrush.price %></p>
        </div>
      </div>
      <div class="col-md-6">
        <%= render "shared/formtest", task: @toothbrush %>
      </div>
      <div class="m-2">
        <%= link_to 'Retour à l\'accueil', toothbrushes_path, class: "btn btn-primary rounded-4" %>
        <%= link_to 'Réserver', new_toothbrush_booking_url(@toothbrush), class: "btn btn-primary rounded-4" %>
      </div>
    </div>
  </div>
<h1>Toothbrush#show</h1>
<p>Find me in app/views/toothbrush/show.html.erb</p>
<div data-controller="dynamic-booking-price" data-dynamic-booking-price-price-value="<%= @booking%>">
  <%= simple_form_for [@toothbrush, @booking] do |f| %>
    <%= f.input :start_date, as: :string, input_html: { data: { controller: "datepicker" } } %>
    <%= f.input :end_date,  as: :string, input_html: { data: { controller: "datepicker" }} %>
    <%= f.submit "Book it now" %>
  <% end %>
</div>
