<h1>Toothbrush#show</h1>
<p>Find me in app/views/toothbrush/show.html.erb</p>
<div data-controller="dynamic-booking-price" data-dynamic-booking-price-price-value="<%= @booking%>">
  <%= simple_form_for [@toothbrush, @booking] do |f| %>
    <%= f.input :start_date, as: :string, input_html: { data: { controller: "datepicker" } } %>
    <%= f.input :end_date,  as: :string, input_html: { data: { controller: "datepicker" }} %>
    <%= f.submit "Book it now" %>
  <% end %>
</div>
